* {
  color: white;
}

.item-a,
.item-b,
.item-c,
.item-d {
  border-radius: 10px;
  text-align: center;
}

.item-a {
  grid-area: header;
  background-color: navy;
}
.item-b {
  grid-area: main;
  background-color: green;
}
.item-c {
  grid-area: sidebar;
  background-color: blue;
}
.item-d {
  grid-area: footer;
  background-color: orange;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "header header header header"
    "main . . sidebar"
    "footer footer footer footer";
}