* {
  color: white;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.container div {
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.container div p {
  outline: 1px solid red;
}

.box {
  grid-area: box;
  background: black;
}

.item-a {
  grid-area: a;
  background: navy;
  padding: 10px;
}

.item-b {
  grid-area: b;
  background: green;
  padding: 10px;
}

.item-c {
  grid-area: c;
  background: blue;
}

.item-d {
  grid-area: d;
  background: orange;
}

.item-e {
  grid-area: e;
  background: magenta;
}

.item-f {
  grid-area: f;
  background: purple;
}

.item-g {
  grid-area: g;
  background: crimson;
}

.item-h {
  grid-area: h;
  background: tomato;
}

.item-i {
  grid-area: i;
  background: darkred;
}

.container {
  display: grid;
  grid-template-columns: 200px repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "   box   a   b   b   "
    "   box   c   c   d   "
    "   box   e   f   f   "
    "   g     h   h   i   ";
  gap: 10px;
  height: calc(100vh - 20px);
  place-items: stretch;
  place-content: center;
  margin: 10px;
}